<div class="banner" style="background-image: linear-gradient(105.2deg, #000000 -86.12%, rgba(0, 0, 0, 0) 99.98%), url(<%= image_path "woman-girl-rain.jpg"%>);">
  <div class="banner-content">
    <h1>A Good <br>   Deed</h1>
    <p>Build a strong community, help one another</p>
    <form class="form-inline my-2 my-lg-0" action="/">
    <input class="form-control mr-sm-2" name="query" type="search" placeholder="How can you help?" aria-label="Search" value="<%= @query %>">
    <button class="btn button-blue" type="submit">Search</button>
    </form>
  </div>
</div>

<div class="container">
  <h1>Explore our needers tasks ...</h1>
  <div class="row">
  <% @tasks.each do |task| %>
    <div class="col-xs-12 col-sm-4">
      <div class="card-gd">
        <div class="image">
          <%= image_tag "dog.jpg", class: "img", alt: "dog" %>
        </div>
        <div class="d-flex justify-content-between">
          <p class="date">Date</p>
          <h2 class="category">category</h2>
        </div>
        <h4><%= link_to task.title, task_path(task), class:"task-title" %></h4>
<!--         <p><%= task.description %></p>
 -->  </div>
    </div>
  <% end %>
  </div>
<div class="container">
