<div class="banner" style="background-image: linear-gradient(105.2deg, #000000 -86.12%, rgba(0, 0, 0, 0) 99.98%), url(<%= image_path "woman-girl-rain.jpg"%>);">
  <div class="banner-content">
    <h1>A Good <br>   Deed</h1>
    <p>Build a strong community, help one another</p>
    <form class="form-inline my-2 my-lg-0" action="/">
    <input class="form-control mr-sm-2" name="query" type="search" placeholder="How can you help?" aria-label="Search" value="<%= @query %>">
    <button class="btn button-blue" type="submit">Search</button>
    </form>
  </div>
</div>
<div class="header-container" style="padding-left: 16px;">
  <h1>Explore our needers tasks ...</h1>
</div>
<div class="map_and_tasks d-flex">

  <div class="container">
    <div class="row">
    <% @tasks.each do |task| %>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="card-gd ">
            <%= cl_image_tag task.pic_url, height: 200, crop: :fill %>
          <div class="d-flex justify-content-between">
            <p class="date"><%= task.start_time.strftime("%dth %B") %></p>
            <h2 class="category"><%= task.category %></h2>
          </div>
          <h4><%= link_to task.title, task_path(task), class:"task-title" %></h4>
        </div>
      </div>
    <% end %>
    </div>
  </div>

  <div
  id="map"
  style="margin: 0 16px; width: 60%;
  height: 100vh; position: sticky; top: 0;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAP_BOX_API'] %>"
  ></div>
</div>
