<div class="show-page">

  <div class="top-picture" style="background-image: url(<%= @task.photo %>)"></div>

  <div class="container margin-top-negative">
    <div class="row">
      <div class="col-8">
        <div class="task-show-card" id="first-card">
          <h2><%= @task.title %></h2>
        </div>
        <div class="task-show-card">
          <p><strong>Category</strong><br><%= @task.category.capitalize %></p>
          <p><strong>Description</strong><br><%= @task.description %></p>
          <p><strong>Timeslot</strong><br><%= @task.start_time.strftime("%d of %B, %Y") %> at <%= @task.start_time.strftime("%I:%M %p") %> and <%= @task.end_time.strftime("%d of %B, %Y") %> at <%= @task.end_time.strftime("%I:%M %p") %></p>
        </div>
        <div class="task-show-card">
              <h3>Who you'll be helping</h3>
          <div class="d-flex justify-content-start">
            <img src=<%= @user.profile_picture %> class="avatar-x-large" height="100px">
            <div class="pl-5">
              <p>Name: <%= @user.first_name + ' ' + @user.last_name %></p>
              <p>About them: <%= @user.description %></p>
              <%= link_to "User Profile", user_path(@user), class: "btn button-blue" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-4">
          <% if @user == current_user %>
          <div class="task-show-card">
            <h5>Found a helper?</h5>
            <div class="input-group">
              <%= simple_form_for [@task] do |f| %>
              <div class="form-inputs select">
                <%= f.input :booked, as: :select %>
              </div>
              <div class="form-actions">
                <%= f.button :submit, class: "btn button-pink"%>
              </div>
              <% end %>
            </div>
          </div>
          <div class="task-show-card">
            <h3>Bookings</h3>
            <% @task.bookings.each do |booking|%>
            <div class="booking-card">
              <img src="<%= booking.user.profile_picture %>" class="avatar-large" height="56px">
              <div class="ml-3">
                <p><strong><%= booking.user.first_name %> wants to help!</strong></p>
                <p>"<%= booking.message %>"</p>
                <p>Status: <%= booking.status %></p>
                <%= link_to 'View', task_booking_path(@task, booking), class: "btn-sm button-pink" %>
              </div>
            </div>
            <% end %>
          </div>
          <% else %>
        <div class="task-show-card">
          <h3>Book this Task!</h3>
           <div class="input-group">
              <%= simple_form_for [@task, @booking] do |f| %>

                  <div class="form-inputs select">
                    <%= f.input :message %>
                    <%= f.input :time %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, class: "btn button-pink"%>
                  </div>
                <% end %>
            </div>
        </div>
           <% end %>
        <div class="task-show-card">
          <div id="map", style="width: 100%;
  height: 30vh;" data-markers="<%= @markers.to_json %>", data-mapbox-api-key="<%= ENV['MAP_BOX_API'] %>">
          </div>
        </div>
        <div class="task-show-card">
          <div class="flex-align">

            <div class="flex">
              <% if @user == current_user %>
                <%= link_to "Edit Task", edit_task_path(@task), class: "btn button-blue my-2" %>
              <% end %>
              <%= link_to "Home", tasks_path, class: "btn button-pink" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
