<div class="container mt-3">
  <% if @user == current_user %>
    <h2>Hello <%= @user&.first_name %>!</h2>
  <% else %>
    <h2>Welcome to my page!</h2>
  <% end %>

  <div class="card-product ">
    <img src="<%= @user.profile_picture %>" alt="profile-avatar" class="align-self-center" style="height: 200px;">

    <div class="d-flex justify-content-between" style="width: 100%; height: 100%;">
      <div class="card-product-infos" style="align-self: center;">
        <h3 style="text-align: right;"> <%= @user&.first_name %> <%= @user&.last_name %> </h3>
        <p><%= @user&.description %></p>
      </div>

      <div class="d-flex align-items-center justify-content-end" style="align-self: flex-end;">
        <% if @user == current_user %>
          <%= link_to "edit profile", edit_user_registration_path, class: "btn button-pink light-pink mb-2 mr-2" %>
        <% end %>
      </div>
    </div>
  </div>

    <div class="" style="padding: 16px; background-color: white; margin-top: 16px; box-shadow: 0 0 15px rgba(0,0,0,0.1);">
    <% if @user == current_user %>
      <h3 class="mt-3">Your Tasks</h3>
    <% else %>
      <h3 class="mt-3"><%= @user&.first_name %>'s Tasks</h3>
    <% end %>

    <div class="row">
      <% @user.tasks&.each do |task| %>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3">
          <%= link_to task_path(task), class: "decoration" do %>
            <div class="card-category d-flex justify-content-between" style="width: 100%; height:200px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= task.photo %>); background-repeat:no-repeat; background-position: center center; padding: 16px;">
              <div class="card-product-infos no-box-shadow">
                <h3 class="task-title no-box-shadow" style="color: white; font-size: 24px; font-weight: bold; font-weight: normal; text-shadow: 0 0 15px rgba(0,0,0,0.1);"><%= task.title %></h3>
                <p class="no-box-shadow" style="color: #f795a8; font-size: 12px;"><%= task.category.upcase %></p>
              </div>
              <div class="d-flex justify-content-end no-box-shadow">
                <div class="no-box-shadow" style="text-align: right;">
                <p class="no-box-shadow" style="color: white; font-size: 12px; align-self: flex-end;"><%=  task.start_time.strftime("%d/%m") %></p>

                <% if task.booking_ids.count == 1 %>
                  <h5 class="no-box-shadow"><%= task.booking_ids.count %> <i class="fas fa-inbox no-box-shadow"></i></h5>
                <% elsif task.booking_ids.count > 1 %>
                  <h5 class="no-box-shadow"><%= task.booking_ids.count %> <i class="fas fa-inbox no-box-shadow"></i></h5>
                <% else %>
                  <h5 class="no-box-shadow" style="font-size: 24px;">0 <i class="fas fa-inbox no-box-shadow"></i></h5>
                <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    </div>
    <% if @user == current_user %>
      <h3 class="mt-3">Your future Good Deeds . . .</h3>
      <% @user&.bookings.each do |booking| %>

        <div class="card-booking">
          <div class="">
            <div class="d-flex justify-content-between">
            <div class="">
              <h2 style="text-align: left; font-size: 18px;"><%= booking&.task.category.upcase %></h2>
              <p><%=  booking&.time.strftime("%dth %B") %></p>
            </div>

            <div class="d-flex align-items-center">
              <h3 class="ml-3 pr-2"><%= User.find(booking&.task.user_id)&.first_name %>'s Task</h3>
              <img src="<%= User.find(booking.task.user_id).profile_picture %>" alt="profile-avatar" class="avatar align-self-center" style="width: 100px; height: 100px;">
            </div>
            </div>
            <div class="" style="text-align:left;">
            <h3 class="task-title mt-3"><%= booking&.task.title %></h3>
            <p class="mt-3"><%= booking&.task.description %></p>
            </div>


            <div class="d-flex justify-content-between">
            <div class="">
            <% if booking&.status == "pending" %>
              <h5 style="font-weight: bold;">PENDING</h5>
              </div>
              <div class="">
            <% elsif booking&.status == "confirmed" %>
              <h5 style="font-weight: bold;">APPROVED</h5>
              </div>
              <div class="">
              <div class="">
              <%= link_to "get in touch", User.find(booking&.task.user_id).email, class: "btn button-pink" %>
            <% elsif booking&.status == "declined"%>
              <h5 style="font-weight: bold;">DECLINED</h5>
              </div>
              <div class="">
            <% elsif booking&.status == "cancelled"%>
              <h5 style="font-weight: bold;">CANCELLED</h5>
              </div>
              <div class="">
            <% end %>

            <%= link_to "view booking", task_booking_path(booking&.task, booking), class: "btn button-pink light-pink" %>
            </div>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
    <div class="card mt-3 p-3">
      <h3><%= @user&.first_name %>'s Reviews</h3>
        <% @user&.bookings.each do |booking| %>
        <% @task = booking&.task %>
        <% @task_owner = User.find(@task&.user_id) %>
        <div class="rating-card">
          <%= image_tag @task_owner&.profile_picture, alt: "alttext", class: "avatar-x-large mr-3" %>
        <div>
        <% booking&.user_rating&.times do %>
          <span>*</span>
        <% end %>
        "<%= booking&.user_review %>"
        </div>
        </div>
      <% end %>
    </div>
</div>
